<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/editar_perfil.css">
    <link rel="stylesheet" href="../static/fondo.css">
    <title> Editar mi perfil </title>
</head>
<body>
    <div class="container">
        <div class="interior">
            <form action="" method="post">
                <label for="username"> Nombre de usuario </label>
                <input type="text" name="username" value="{{ usuario.nombre}}" placeholder="Tu nombre de usuario aqui " disabled>

                <label for="passwordActual"> Contraseña actual </label>
                <input type="password" name="passwordActual" value="">

                <label for="passwordNueva"> Nueva contraseña </label>
                <input type="password" name="passwordNueva">

                <button type="submit"> Actualizar mi perfil </button>
            </form>
        </div>
    </div>
</body>
</html>